<head>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- title -->
    {{ with .Title }}
        <title>{{ . }}</title>
    {{ end }}
    
    <!-- description -->
    {{ with .Description }}
        <meta name="description" content="{{ . }}">
    {{ end }}
    
    <!-- favicon -->
    {{ with resources.Get "favicon.png" }}
        {{ $favicon := .Fill "48x48 png" }}
        <link rel="icon" type="image/x-icon" href="{{ $favicon.RelPermalink }}">
    {{ end }}
    
    <!-- css -->
     {{ with resources.Match "css/**.css" }}
        {{ $css := . | resources.Concat "main.css" | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $css.RelPermalink }}" media="all">
    {{ end }}

    <!-- inter font -->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

</head>