{{ if or ( .GetTerms "services" ) ( .Params.Date ) ( .Params.Location) }}

    <div class="params"> 

        <!-- contributors -->
        {{ with .GetTerms "contributors" }}
            {{ range . }}
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}
        {{ end }}
         
        <!-- clients -->
        {{ with .GetTerms "clients" }}
            {{ range . }}
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}
        {{ end }}

        <!-- services -->
        {{ with .GetTerms "services" }}
            {{ range . }}
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}
        {{ end }}

        <!-- deliverables -->
        {{ with .GetTerms "deliverables" }}
            {{ range . }}
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}
        {{ end }}
        
        <!-- date -->
        {{ with .Params.Date }}
            <p>{{ .Month }} {{ .Year }}</p>
        {{ end }}
        
    </div>

{{ else }}
{{ end }}